<section class="container centered">
  <div class="about" style="display: flex; flex: 100%; justify-content: center;">
    <div style="align-self: center;">
      {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
      {{ end }}
      <h1>{{ .Site.Params.author }}</h1>

      <p>👋 Hi there, welcome to my little corner of the internet.</p>
    </div>
  </div>
  <div class="about">
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort . "weight" }}
      <li>
        <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}" {{ end }} {{ if .target
          }}target="{{ .target }}" {{ end }} {{ if .type }}type="{{ .type }}" {{ end }}>{{ if .icon }}<span class="{{ .icon }}" aria-hidden="true"></span>{{ end }}<span>{{ .name }}</span></a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</section>