.content {
  flex: 1;
  display: flex;
  margin-top: 1.6rem;

  article {
    header {
      margin-top: 1rem;
      margin-bottom: .5rem;
    }

    footer {
      margin-top: 4.0rem;

      .see-also {
        margin: 3.2rem 0;
      }
    }
  }

  .post {
    .post-title {
      margin-bottom: .75em;
    }

    .post-meta {
      i {
        text-align: center;
        width: 1.6rem;
        margin-left: 0;
        margin-right: 0.5rem;
      }

      .date {
        .posted-on {
          margin-left: 0;
          margin-right: 1.5rem;
        }
      }
    }

    .tags a {
      font-size: var(--text-size-5);
      line-height: var(--line-height-5);

      padding: .6rem;
      margin: .3rem;
      border-radius: var(--border-radius-small);
      background-color: var(--tag-bg);
      color: var(--tag-fg);
    }
  }
}

.avatar img {
  width: 20rem;
  height: auto;
  border-radius: 50%;

  @media only screen and (max-width : 768px) {
    width: 10rem;
  }
}

.list {
  .date {
    display: block;
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding-bottom: 1.5rem;
  }
}

.list {
  ul {
    margin: 3.2rem 0 3.2rem 0;
    list-style: none;
    padding: 0;

    li {
      font-size: 1.8rem;

      @media only screen and (max-width : 768px) {
        margin: 1.6rem 0 1.6rem 0;
      }

      .date {
        display: inline-block;
        width: 20.0rem;
        text-align: right;
        margin-right: 3.0rem;

        @media only screen and (max-width : 768px) {
          display: block;
          text-align: left;
        }
      }

      .title {
        font-size: 1.8rem;
        color: var(--fg-color);
        font-family: var(--heading-font-family);
        font-weight: 700;

        &:hover,
        &:focus {
          color: var(--link-color)
        }
      }
    }
  }
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .about {
    font-family: var(--heading-font-family);
    text-align: center;

    ul {
      list-style: none;
      margin: 1.0rem 0 1.0rem 0;
      padding: 0;

      li {
        display: inline-block;
        position: relative;
        margin-left: 1.0rem;
        margin-right: 1.0rem;

        a {
          color: var(--fg-color);
          font-size: var(--text-size-4);

          &:hover,
          &:focus {
            color: var(--link-color);
          }

          i {
            font-size: 3.2rem;
          }
        }
      }
    }
  }

  .error {
    text-align: center;
  }
}