details {
    background: var(--chroma-bg);
    border-radius: var(--border-radius-medium);
    overflow: hidden;

    @media (prefers-reduced-motion: no-preference) {
        interpolate-size: allow-keywords;
    }

    &::details-content {
        opacity: 0;
        block-size: 0;
        overflow-y: clip;
        transition: content-visibility var(--transition-large-layout-shift-duration) allow-discrete, opacity var(--transition-large-layout-shift-duration), block-size var(--transition-large-layout-shift-duration);
    }

    &[open]::details-content {
        opacity: 1;
        block-size: auto;
    }

    summary {
        border-radius: var(--border-radius-medium);
        padding: 1rem;
        cursor: pointer;
    }
}