.navigation {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;

  a,
  span {
    display: inline;
    font-size: 1.6rem;
    font-family: var(--heading-font-family);
    font-weight: 700;
    line-height: 1.2rem;
    color: var(--fg-color);
  }

  a {
    transition: color .2s linear;

    &:hover,
    &:focus {
      color: var(--alt-fg-color);
      text-decoration: none;
    }
  }

  .navigation-title {
    letter-spacing: 0.05rem;
  }

  .navigation-list {
    float: right;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 0.05rem;

    .navigation-item {
      float: left;
      margin: 0;
      position: relative;

      a,
      span {
        margin-left: 1.0rem;
        margin-right: 1.0rem;
      }

      a,
      a:visited {
        text-decoration: none;
        color: var(--fg-color);
        transition: color .2s linear;
      }

      a:hover,
      a:focus {
        color: var(--alt-fg-color);
      }

      .navigation-link.active::before {
        view-transition-name: active-nav-link;

        content: '';
        display: block;
        width: calc(100% - 2rem);
        height: 3px;
        border-radius: 1.5px;
        background-color: var(--fg-color);
        position: absolute;
        bottom: 0;
        left: 1rem;
      }
    }

    .menu-separator {
      @media only screen and (max-width : 768px) {
        border-top: 2px solid var(--fg-color);
        margin: 0 8.0rem;

        span {
          display: none;
        }
      }
    }
  }

  #menu-toggle {
    display: none;

    @media only screen and (max-width : 768px) {
      &:checked+label {
        color: var(--alt-bg-color);
      }

      &:checked+label+ul {
        visibility: visible;
        opacity: 1;
        max-height: 100rem;
      }
    }
  }

  .menu-button {
    display: none;

    @media only screen and (max-width : 768px) {
      display: block;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 6.0rem;
      color: var(--fg-color);
      cursor: pointer;

      &:hover,
      &:focus {
        color: var(--link-color)
      }
    }
  }
}

::view-transition-group(active-nav-link) {
  animation-duration: .3s;
  animation-timing-function: cubic-bezier(0.195, 0.035, 0.000, 1.420);
}