:root {
    --text-font-family: Georgia, serif;
    --heading-font-family: Helvetica, sans-serif;
    --code-font-family: 'Courier New', monospace;

    // light mode colors
    --bg-color: #FAFAFA;
    --fg-color: #212121;
    --alt-bg-color: #E0E0E0;
    --alt-fg-color: #000;
    --link-color: #1565c0;
    --bg-light-color: #FAFAFA;
    --code-bg-color: #FAFAFA;

    // dark mode overrides
    @media (prefers-color-scheme: dark) {
        --bg-color: #212121;
        --fg-color: #dadada;
        --alt-bg-color: #424242;
        --alt-fg-color: #dadada;
        --link-color: #4493f8;
        --bg-light-color: #dadada2f;
        --code-bg-color: #212121;
    }
}